<div class="container color-dark">
  <div class="col">
    <p>Pets ({{ pets.length }})</p>
  </div>
</div>
<div class="container color-light" [@goals]="pets.length">
  <div class="col">
    <input type="submit" class="btn" value="Clean Pets" (click)="cleanPets()">

    <p class="life-container" *ngFor="let pet of pets">
      {{ pet.petType }} - cleansed: {{ pet.cleansed }} - commandsLearned: {{ pet.commandsLearned }} - estimatedIntelligence: {{ pet.estimatedIntelligence }} - readyToBeAdopted: <span *ngIf="pet.cleansed"><i class="material-icons">check_circle</i></span> <span *ngIf="!pet.cleansed"><i class="material-icons">warning</i></span>
    </p>
  </div>
</div>